.login{
    width: 20%;
    margin: auto;
    border: 1px solid black;
    text-align: center;
}
.login__form{
    text-align: center;
   

}
.login_form__input{
    display: block;
    margin-bottom: 20px;
}
.login_form__inputBtn{
    display: block;
}