@import url("./login.css");
@import url("./dashboard.css");
@import url("./add-employee.css");
@import url("./helpers.css");
@import url("./header.css");
@import url("./modal.css");
@import url("./footer.css");

/* reset */

* {
  font-family: "Rubik", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --black: #282828;
  --yellow: #e8c547;
  --dark-purple: #30323d;
  --ligth-purple: #4d5061;
  --blue: #5c80bc;
  --dark-blue: #4d6c9f;
  --red: #bc5c5c;
  --dark-red: #9f4d4d;
  --wrong: #ff1f1f;
  --cream: #cdd1c4;
  --white: #f9fdef;
}
