@import url('./login.css');
@import url('./dashboard.css');
@import url('./add-employee.css');
@import url('./modal.css');
@import url('./helpers.css');

/* reset */

* {
    font-family: 'Rubik', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

body {
    overflow: auto;
    margin: 2rem;
}

:root {
    --black: #282828;
    --yellow: #E8C547;
    --dark-purple: #30323D;
    --ligth-purple: #4D5061;
    --blue: #5c80BC;
    --dark-blue: #4D6C9F;
    --red: #BC5C5C;
    --dark-red: #9F4D4D;
    --cream: #CDD1C4;
    --white: #F9FDEF;
}
