.employee-modal {
    background-color: var(--dark-purple);
    text-align: center;
    margin: 0 auto;
    width: 90vw;
}

.employee-modal__inputs {
    display: flex;
    flex-direction: row;
    margin: 1rem 3rem;
    align-items: center;
}
.employee-modal__pair {
    display: flex;
    align-items: center;
    text-align: center;
}
.employee-modal__inputs-container {
    margin: 0rem 0.5rem;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
}
.employee-modal__inputs label {
    color: var(--cream);
    font-weight: bold;
    font-size: 0.8em;
    flex: 1;
    margin: 0 auto;
}

.employee-modal__inputs input {
    flex: 0.5;

    /* style */
    outline: none;
    border: 2px solid var(--cream);
    background-color: var(--cream);
    margin: 0.5rem auto;

    /* font */
    text-align: center;
}
.employee-modal__inputs-container input,
.employee-modal__pair input{
    transition: 0.2s;
    background-color: var(--white);
    border: 2px solid var(--white);
}

.employee-modal__inputs-container input:disabled,
.employee-modal__pair input:disabled {
    background-color: transparent;
    border: 1px solid var(--ligth-purple);

    /* style */
    outline: none;
    color: var(--cream);

    /* font */
    font-size: 1em;
    text-align: center;
}
.employee-modal__submit:hover {
    transition: 0.2s;
    border: 2px solid var(--dark-blue);
}
.employee-modal__submit:active{
    background-color: var(--dark-blue);
}

/* buttons */
.employee-modal button {
    margin: 1rem 0.5rem;
}
.employee-modal__submit {
    display: block;
    all: unset;

    /* style */
    padding: 0.2rem 1rem;
    border: 2px solid var(--blue);
    border-radius: 2px;
    background-color: var(--blue);
    color: var(--cream);

    /* font */
    text-align: center;
    font-size: 1.2em;
    font-weight: 500;
}
.employee-modal__exit {
    display: block;
    all: unset;

    /* style */
    padding: 0.2rem 1rem;
    border: 2px solid var(--red);
    border-radius: 2px;
    background-color: var(--red);
    color: var(--cream);

    /* font */
    text-align: center;
    font-size: 1.2em;
    font-weight: 500;
}
.employee-modal__exit:hover {
    transition: 0.2s;
    border: 2px solid var(--dark-red);
}
.employee-modal__exit:active{
    background-color: var(--dark-red);
}

/* avatar */
.employee-modal__avatar input {
    all: unset;
    font-size: 1em;
    color: var(--cream);
    width: auto;
}

.employee-modal__inputs-container__avatar {
    max-width: 100px;
}

.employee-modal__avatar {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
.employee-modal__avatar img {
    margin: 0rem auto;
    min-width: 55px;
}

.employee-modal__id {
    color: var(--cream);
    font-weight: bold;
}

